@import url(https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sorts  Mill Goudy, serif;
}

html, body {
    height: 100%; /* Ensure the full height */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Align content in a column */
    min-height: 100vh; /* Minimum height of viewport */
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#logo {
    font-size: 32px;
    text-decoration: none;
    color: rgb(175, 138, 89);
    font-weight: 200;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: rgb(175, 138, 89);
    text-decoration: none;
    font-weight: 200;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    width: 0;
    height:2px;
    background: rgb(175, 138, 89);
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(175, 138, 89);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid rgba(175, 138, 89, 0.5);
    }

    .menu-toggle {
        display: block;
    }
}

.carousel{
    width: 50vw;
    height: 40vw;
    position: relative;
    display: block;
    margin:5% auto;
    left: 0;
    right: 0;
}

.carousel > ul { /*gets rid of scroll bar and margin and padding that was coming from the image list*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide { 
    position: absolute;
    inset: 0;
    opacity: 0; /*this hides the images*/
 /*cuz the opacity is 0 when hitting previous image it does not transtion, adding this will allow the transition to fade when hitting previous*/
    transition-delay: 200ms; /*old image wont fade out till the transition to the new picture is complete so it looks more smooth */
}

.slide > img {
    display:block;
    object-fit: cover; /*object-fit cover makes sure the image is maintained when resizing it*/
    object-position: center;
    padding-top: 100px;
}

.slide[data-active]
{
    opacity: 1; /*this allows the active image to show which is the first image*/
    z-index: 1; /*makes sure that active slide is on top*/
     /*active slide does not have a delay, with this it will start its fade in animation instantly*/
    transform: translateX(25%);
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2; /*bring arrows to above the picture*/
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%; 
    transform: translateY(-50%); /*puts arrows directly in the middle of picture on Y axis*/
    color:rgba(255, 255, 255, .5); /* makes the arrows transparent*/
    cursor: pointer; /*when hover over arrows. mouse turns to pointer*/
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1)
}

.carousel-button:hover, /*when hovering over arrows the arrows turn white*/
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2) /*background of arrows also become darcker when mouse is over it*/

}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: -4rem;
}
/*this seperates the left and right button to the opposite sides*/
.carousel-button.next {
    right: -4rem;
}


/* Footer Styles*/
.container{
    max-width:1170px;
    margin:auto;
}
.footer{
    background-color: black; /*took out position:fixed to allow the image to be pushed under it*/
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
.footer-col{
    flex-grow: 1;
    width: 25%;
    padding:0 15px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 300;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    transform: translateX(-50%);
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

#socLogo{
    width: 40px;
    border-radius: 50%;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:rgb(175, 138, 89);
    text-decoration: none;
    font-size: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
}

.content {
    flex: 1; /* Allows content to expand and push footer down */
}

/*Responsive!*/
@media(max-width: 767px){
    .footer-col{
        width: 50px;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
