@import url(https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sorts  Mill Goudy, serif;
}

html, body {
    height: 100%; /* Ensure the full height */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Align content in a column */
    min-height: 100vh; /* Minimum height of viewport */
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#logo {
    font-size: 32px;
    text-decoration: none;
    color: rgb(175, 138, 89);
    font-weight: 200;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: rgb(175, 138, 89);
    text-decoration: none;
    font-weight: 200;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    width: 0;
    height:2px;
    background: rgb(175, 138, 89);
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: rgb(175, 138, 89);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid rgba(175, 138, 89, 0.5);
    }

    .menu-toggle {
        display: block;
    }
}

.content{
    padding: 100px 8%;
    max-width: 1500px;
    margin: 0 auto;
}

.body_container h3{
    color: #ffffff;
}

.body_container p{
    color: #ffffff;
}

#bio_photo{
    max-height: 800px;
    float: left;
    width: 500px;
    padding-right: 30px;
}

/* Footer Styles*/
.container{
    max-width:1170px;
    margin:auto;
}
.footer{
    background-color: black; /*took out position:fixed to allow the image to be pushed under it*/
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
.footer-col{
    flex-grow: 1;
    width: 25%;
    padding:0 15px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 300;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    transform: translateX(-50%);
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

#socLogo{
    width: 40px;
    border-radius: 50%;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:rgb(175, 138, 89);
    text-decoration: none;
    font-size: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
}

.content {
    flex: 1; /* Allows content to expand and push footer down */
}

/*Responsive!*/
@media(max-width: 767px){
    .footer-col{
        width: 50px;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}